.UserProfileContainer {
    margin-top: 25px;
    margin-left: 25px;
    display: flex;
}

.ProfileUserAvatar {
    background-color: grey;
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
    border-radius: 100%;
    cursor: pointer;
}

.AvatarImage {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
}