.SwitchProblemButtonContainer {
    display: flex;
    width: 100%;
    gap: 5px;
    margin-bottom: 10px;
}

.SwitchProblemButtonContainer button {
    flex: 1;
    padding: 10px;
    cursor: pointer;
    height: 75px;
    font-size: 30px;
    background-color: rgba(245, 245, 245, 0.5);;
    display: flex;
    align-items: center;
    justify-content: center;
}

.SwitchProblemButtonContainer button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

.SwitchProblemButtonContainer button:hover {
    cursor: pointer;
    background-color: rgb(94, 90, 90);
}

.OptionADivNoHover {
    background-color: rgb(235, 84, 84);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
}


.OptionADivNoHover.Correct {
    background-color: rgb(8, 238, 8);
}

.OptionADivNoHover.Wrong {
    background-color: rgb(235, 84, 84);
}

.OptionBDivNoHover.Correct {
    background-color: rgb(8, 238, 8);
}

.OptionBDivNoHover.Wrong {
    background-color: rgb(235, 84, 84);
}

.OptionCDivNoHover.Correct {
    background-color: rgb(8, 238, 8);
}

.OptionCDivNoHover.Wrong {
    background-color: rgb(235, 84, 84);
}

.OptionDDivNoHover.Correct {
    background-color: rgb(8, 238, 8);
}

.OptionDDivNoHover.Wrong {
    background-color: rgb(235, 84, 84);
}

.OptionADivNoHover.Selected {
    opacity: 0.5;
}

.OptionBDivNoHover.Selected {
    opacity: 0.5;
}

.OptionCDivNoHover.Selected {
    opacity: 0.5;
}

.OptionDDivNoHover.Selected {
    opacity: 0.5;
}


.OptionBDivNoHover {
    background-color: rgb(20, 237, 24);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
}


.OptionCDivNoHover {
    background-color: rgb(232, 185, 18);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
}


.OptionDDivNoHover {
    background-color: rgb(49, 128, 238);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
}


